/* hero styles */
.container {
  width: 1440px;
  height: 950px;
  margin: 0 auto;
  background: radial-gradient(82.32% 82.32% at 50% 55.16%, #FFFFFF 0%, #98BCD1 0.01%, #D6E4EC 0.02%, #92B8CE 0.03%, #8CB5CB 0.04%, #84AFC8 0.05%, #6EA1BE 0.06%, #003E61 100%);
  position: relative;
}

.ellipse-big {
  width: 1049px;
  height: 1049px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  margin: 0 auto;
}

.ellipse-small {
  width: 629px;
  height: 629px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  margin: 20%;
}

.info-left {
  width: 568px;
  height: 146px;
  background-image: url("../img/bg-left.png");
  position: absolute;
  top: 30%;
  left: 0;
 }

.info-right {
  width: 568px;
  height: 146px;
  background-image: url("../img/bg-right.png");
  position: absolute;
  top: 60%;
  right: -2%;
  }

.item-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #003E61;
  text-transform: uppercase;
  margin: 40px 0 0 150px;
}

.item-desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #003E61;
  margin: 20px 85px 20px 132px;
}

.item-day {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #003E61;
  text-transform: uppercase;
}

.item-date {
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  color: #003E61;
}

.short-desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  color: #003E61;
}

/* slider styles */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

.item-slider {
  width: 300px;
  height: 1200px;
  padding: 0;
  overflow: hidden;
  transform: rotate(50deg);
  position: absolute;
  top: -8%;
  left: 40%;
}

.item-slider__slide {
  text-align: center;
  transform: rotate(-50deg);
  position: relative;
 }

.hexagon-desc {
  position: absolute;
  top: 10%;
  left: 14%;
}

.swiper-slide-active {
  transform: scale(1.9) rotate(-50deg);
  transition: 0.7s;
}

.swiper-slide-next, .swiper-slide-prev {
  transform: scale(1.3) rotate(-50deg);
  transition: 0.7s;
}

